# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
cmake-build-debug/untitled6
cmake-build-debug/Testing/Temporary/LastTest.log
cmake-build-debug/CMakeFiles/clion-Debug-log.txt
cmake-build-debug/build.ninja
cmake-build-debug/.ninja_log
cmake-build-debug/.ninja_deps
cmake-build-debug/.cmake/api/v1/reply/index-2024-09-28T17-04-29-0824.json
cmake-build-debug/.cmake/api/v1/reply/index-2024-09-28T16-59-47-0585.json
cmake-build-debug/.cmake/api/v1/reply/cmakeFiles-v1-bec0c610a0463db39b34.json
cmake-build-debug/.cmake/api/v1/reply/cmakeFiles-v1-4469029a7cb57b7a631e.json
.idea/editor.xml
.idea/misc.xml
.idea/modules.xml
.idea/untitled6.iml
.idea/vcs.xml
cmake-build-debug/.cmake/api/v1/reply/cmakeFiles-v1-4469029a7cb57b7a631e.json
cmake-build-debug/.cmake/api/v1/reply/codemodel-v2-12a1140dc311352a032c.json
cmake-build-debug/.cmake/api/v1/reply/codemodel-v2-ebf2e822b79b81667281.json
cmake-build-debug/.cmake/api/v1/reply/index-2024-09-28T16-59-47-0585.json
cmake-build-debug/.cmake/api/v1/reply/index-2024-10-12T15-57-38-0766.json
cmake-build-debug/.cmake/api/v1/reply/target-untitled6-Debug-431d50d7553b14085061.json
cmake-build-debug/.cmake/api/v1/reply/target-untitled6-Debug-916297ec4569c9f8e88c.json
cmake-build-debug/build.ninja
cmake-build-debug/CMakeFiles/clion-Debug-log.txt
cmake-build-debug/Testing/Temporary/LastTest.log
